.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 1px solid #b6b6b6;
  background-color: rgba(246, 246, 246, 0.95);

  .btn-item {
    flex: 1;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999;

    .tab-icon {
      margin-bottom: 4px;
      width: 25px;
      height: 25px;
      background-size: cover;
    }

    &.active {
      color: #000;
    }

    &.my {
      .tab-icon {
        background-image: url('../BottomBar/img/myIcon.png');
      }

      &.active {
        .tab-icon {
          background-image: url('../BottomBar/img/myIconActive.png');
        }
      }
    }

    &.order {
      .tab-icon {
        background-image: url('../BottomBar/img/orderIcon.png');
      }

      &.active {
        .tab-icon {
          background-image: url('../BottomBar/img/orderIconActive.png');
        }
      }
    }

    &.home {
      .tab-icon {
        background-image: url('../BottomBar/img/homeIcon.png');
      }

      &.active {
        .tab-icon {
          background-image: url('../BottomBar/img/homeIconActive.png');
        }
      }
    }
  }
}